* {
  /* border: dashed 2px rgba(168, 53, 0, 0.664); */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

button {
  background-color: transparent;
  padding: 4px;
}